<div class="container">
  
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      {{#if logged_in}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
  
  <section>
    {{#each posts as |post|}}
      <div class="post">
        <h2><a href="/posts/{{post.id}}">{{post.title}}</a></h2>
        <p>Posted on: {{format_date post.createdAt}}</p>
      </div>
    {{/each}}
  </section>

</div>